{{ template "header" . }}
    <main role="main">
      <div class="jumbotron" style="padding: 1.5rem 1.5rem;">
        <div class="container">
          <h1 class="display-3">Base64Converter</h1>
          <p>Encode/decode data in Base64 format</p>
        </div>
      </div>
      <div class="container" style="max-width: 1440px;">
        <div class="container" style="max-width: 1440px;">
          <div class="row" >
            <div class="col" style="padding: 20px;">
              <h5>Insert data to encode/decode in/from base64 format:</h5>
              <form name="base64convert" style="max-width: 90%;" action="/base64convert-process" method="POST" enctype="multipart/form-data">
                <div class="form-group">
                  <textarea class="form-control" rows="10" id="text" name="text" required placeholder='aW5zZXJ0c3RyaW5nCg=='></textarea>
                </div>
                <div class="form-group">
                  <label>Operation:</label>
                  <select style="max-width: 110px;" class="custom-select" id="operation" name="operation">
                    <option value="decode">decode</option>
                    <option value="encode">encode</option>
                  </select>
                </div>
                <div class="form-group">
                  <label>Format:</label>
                  <select style="max-width: 130px;" class="custom-select" id="format" name="format">
                    <option value="standard">standard</option>
                    <option value="url-compatible">url-compatible</option>
                  </select>
                </div>
                <hr>
                <button type="submit" class="btn btn-primary">Encode/Decode</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </main>
{{ template "footer" . }}
