{{ template "header" . }}
    <main role="main">
      <div class="jumbotron" style="padding: 1.5rem 1.5rem;">
        <div class="container">
          <h1 class="display-3">Format Converter</h1>
          <p>Transform YAML to JSON and viceversa</p>
        </div>
      </div>
      <div class="container" style="max-width: 1440px;">
        <div class="container" style="max-width: 1440px;">
          <div class="row" >
            <div class="col" style="padding: 20px;">
              <h5>Insert Yaml or Json contents below:</h5>
              <form name="formatconvert" style="max-width: 90%;" action="/formatconvert-process" method="POST" enctype="multipart/form-data">
                <div class="form-group">
                  <textarea class="form-control" rows="20" id="text" name="text" required placeholder='{"name":"test.com","messages":["msg 1","msg 2","msg 3"],"age":100}'></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Convert</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </main>
{{ template "footer" . }}
