{{ template "header" . }}
    <main role="main">
      <div class="jumbotron" style="padding: 1.5rem 1.5rem;">
        <div class="container">
          <h1 class="display-3">HTPasswordGenerator</h1>
          <p>Here are the details:</p>
        </div>
      </div>
      <div class="container">
        <form style="max-width: 730px;" name="htpasswd">
          <div class="form-group">
            <label>Username:</label>
            <input type="text" class="form-control" id="user" name="username" aria-describedby="emailHelp" readonly value="{{ .Username }}">
          </div>
          <div class="form-group">
            <label>Password:</label>
            <input type="password" name="password" class="form-control" id="pass" readonly value="{{ .Password }}">
          </div>
          <div class="custom-control custom-checkbox">
            <input type="checkbox" onclick="revealPassword('pass')" class="custom-control-input" id="showpass">
            <label class="custom-control-label" for="showpass">Show Password</label>
            <p></p>
          </div>
          <div class="form-group">
            <label>Your chosen algorithm is:</label>
            <input type="text" name="algorithm" class="form-control" id="algorithm" readonly value="{{ .Algorithm }}">
          </div>
          <hr></hr>
          <div class="form-group">
            <label>Your htpassword is:</label>
            <input type="text" name="result" class="form-control" id="result" readonly value="{{ .Result }}">
          </div>
          <button type="button" class="btn btn-success" onclick="copyToClipboard('result')">Copy to clipboard</button>
          <button type="button" class="btn btn-primary" onclick="location.href='/htpasswd'">New htpasswd</button>
          <p></p>
        </form>
        <hr>
      </div>
    </main>
{{ template "footer" . }}
