{{ template "header" . }}
    <main role="main">
      <div class="jumbotron" style="padding: 1.5rem 1.5rem;">
        <div class="container">
          <div class="row">
            <div class="col-xs-6">
              <h1 class="display-1">Tooling Portal</h1>
            </div>
            <div class="col-xs-6" style="max-width: 100px;padding: 20px ;">
              <img src="../assets/custom/img/tools.svg" class="img-fluid w-100" alt="Tools image">
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h2 class="text-primary">HTPasswordGenerator </h2>
            <p>Generate a htpassword (multiple algorithms available)</p>
            <p><a class="btn btn-secondary" href="/htpasswd" role="button">htpasswdgen &raquo;</a></p>
          </div>
          <div class="col-md-6">
            <h2 class="text-primary">RandomPasswordGenerator</h2>
            <p>Generate a variable length, multicase, multisymbol password</p>
            <p><a class="btn btn-secondary" href="/passgen" role="button">randpassgen &raquo;</a></p>
          </div>
          <div class="col-md-6">
            <h2 class="text-primary">SSHKeyGenerator</h2>
            <p>Generate a new SSH keypair</p>
            <p><a class="btn btn-secondary" href="/sshkeygen" role="button">sshkeygen &raquo;</a></p>
          </div>
          <div class="col-md-6">
            <h2 class="text-primary">JSONPrettifier</h2>
            <p>Prettify/indent a complicated Json</p>
            <p><a class="btn btn-secondary" href="/jsonprettify" role="button">jsonprettify &raquo;</a></p>
          </div>
          <div class="col-md-6">
            <h2 class="text-primary">FormatConverter</h2>
            <p>Transform YAML to JSON and viceversa</p>
            <p><a class="btn btn-secondary" href="/formatconvert" role="button">formatconvert &raquo;</a></p>
          </div>
          <div class="col-md-6">
            <h2 class="text-primary">TimeConverter</h2>
            <p>Convert epoch time entries to human readable format and viceversa</p>
            <p><a class="btn btn-secondary" href="/timeconvert" role="button">timeconvert &raquo;</a></p>
          </div>
          <div class="col-md-6">
            <h2 class="text-primary">Base64Converter</h2>
            <p>Encode/decode data in Base64 format</p>
            <p><a class="btn btn-secondary" href="/base64convert" role="button">base64convert &raquo;</a></p>
          </div>
          <div class="col-md-6">
            <h2 class="text-primary">URLDecoder</h2>
            <p>Decode URL data</p>
            <p><a class="btn btn-secondary" href="/urldecode" role="button">urldecode &raquo;</a></p>
          </div>
        </div>
        <hr>
      </div>
    </main>
{{ template "footer" . }}
