{{ template "header" . }}
    <main role="main">
      <div class="jumbotron" style="padding: 1.5rem 1.5rem;">
        <div class="container">
          <h1 class="display-3">URLDecoder</h1>
          <p>Decode URL data</p>
        </div>
      </div>
      <div class="container" style="max-width: 1440px;">
        <div class="container" style="max-width: 1440px;">
          <div class="row" >
            <div class="col" style="padding: 20px;">
              <h5>Insert data to url decode:</h5>
              <form name="urldecode" style="max-width: 90%;" action="/urldecode-process" method="POST" enctype="multipart/form-data">
                <div class="form-group">
                  <textarea class="form-control" rows="10" id="text" name="text" required placeholder='https://example.com/foo+bar%21?service=ab%2Bc&product=de%24f'></textarea>
                </div>
                <hr>
                <button type="submit" class="btn btn-primary">Decode</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </main>
{{ template "footer" . }}
