{{ define "header" }}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <link rel="icon" href="../assets/custom/img/tools.svg">
    
    <title>Tooling Portal</title>

    <!-- Bootstrap core CSS -->
    <link href="../assets/bootstrap4/css/bootstrap.min.css" rel="stylesheet">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }
      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    <!-- Custom styles for this template -->
    <link href="../assets/custom/css/jumbotron.css" rel="stylesheet">
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/htpasswd">HTPasswordGenerator</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/passgen">RandomPasswordGenerator</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/ssh">SSHKeyGenerator</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/jsonprettify">JsonPrettifier</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/formatconvert">FormatConverter</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/timeconvert">TimeConverter</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/base64convert">Base64Converter</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/urldecode">URLDecoder</a>
          </li>
        </ul>
      </div>
      </nav>
{{ end }}
