<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="icon" href="../assets/custom/img/tools.svg">
    <title>HTPasswordGenerator</title>
    <!-- Bootstrap core CSS -->
    <link href="../assets/bootstrap4/css/bootstrap.min.css" rel="stylesheet">
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }
      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    <!-- Custom styles for this template -->
    <link href="../assets/custom/css/jumbotron.css" rel="stylesheet">
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/htpasswd">HTPasswordGenerator</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/passgen">RandomPasswordGenerator</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/ssh">SSHKeyGenerator</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/jsonprettify">JsonPrettifier</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/formatconvert">FormatConvert</a>
          </li>
        </ul>
      </div>
    </nav>

    <main role="main">
      <div class="jumbotron" style="padding: 1.5rem 1.5rem;">
        <div class="container">
          <h1 class="display-3">HTPasswordGenerator</h1>
          <p>Use this tool to create your htpasswd</p>
        </div>
      </div>

      <div class="container">
        <form style="max-width: 730px;" name="htpasswd" onsubmit="return validateUserPass()" action="/htpasswd-process" method="POST" enctype="multipart/form-data">
          <div class="form-group">
            <label for="user">Username:</label>
            <input type="text" class="form-control" id="user" name="username" placeholder="Your username in lowercase">
            <small class="form-text text-muted">Use lowercase characters only.</small>
          </div>
          <div class="form-group">
            <label for="pass">Password:</label>
            <input type="password" name="password" class="form-control" id="pass" placeholder="Your password" >
            <small class="form-text text-muted">Password must contain between 8 and 64 characters.</small>
          </div>
          <div class="custom-control custom-checkbox">
            <input type="checkbox" onclick="revealPassword('pass')" class="custom-control-input" id="showpass">
            <label class="custom-control-label" for="showpass">Show Password</label>
            <p></p>
          </div>
          <div class="form-group">
            <label for="algorithm">Choose an algorithm:</label>
            <select style="max-width: 570px;" class="custom-select" id="algorithm" name="algorithm">
              <option value="-apr1">MD5-based password algorithm, Apache variant</option>
              <option value="-1">MD5-based password algorithm</option>
              <option value="-crypt">standard Unix password algorithm</option>
            </select>
          </div>
          <p></p>
          <p></p>
          <button type="submit" class="btn btn-primary">Generate htpassword</button>
          <hr style="max-width: 740px;">
        </form>
        
      </div> <!-- /container -->
    </main>

    <script src="../assets/custom/js/custom.js" ></script>
    <script src="../assets/custom/js/jquery-slim.min.js" ></script>
    <script>window.jQuery || document.write('<script src="../assets/custom/js/jquery-slim.min.js"><\/script>')</script>
    <script src="../assets/bootstrap4/js/bootstrap.bundle.min.js" ></script>
  </body>

</html>
