<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="icon" href="../assets/custom/img/tools.svg">
    <title>HTPasswordGenerator</title>
    <!-- Bootstrap core CSS -->
    <link href="../assets/bootstrap4/css/bootstrap.min.css" rel="stylesheet">
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }
      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    <!-- Custom styles for this template -->
    <link href="../assets/custom/css/jumbotron.css" rel="stylesheet">
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/htpasswd">HTPasswordGenerator</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/passgen">RandomPasswordGenerator</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/ssh">SSHKeyGenerator</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/jsonprettify">JsonPrettifier</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/formatconvert">FormatConverter</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/timeconvert">TimeConverter</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/base64convert">Base64Converter</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/urldecode">URLDecoder</a>
          </li>
        </ul>
      </div>
    </nav>

    <main role="main">
      <div class="jumbotron" style="padding: 1.5rem 1.5rem;">
        <div class="container">
          <h1 class="display-3">HTPasswordGenerator</h1>
          <p>Here are the details:</p>
        </div>
      </div>
      <div class="container">
        <form style="max-width: 730px;" name="htpasswd">
          <div class="form-group">
            <label>Username:</label>
            <input type="text" class="form-control" id="user" name="username" aria-describedby="emailHelp" readonly value="{{ .Username }}">
          </div>
          <div class="form-group">
            <label>Password:</label>
            <input type="password" name="password" class="form-control" id="pass" readonly value="{{ .Password }}">
          </div>
          <div class="custom-control custom-checkbox">
            <input type="checkbox" onclick="revealPassword('pass')" class="custom-control-input" id="showpass">
            <label class="custom-control-label" for="showpass">Show Password</label>
            <p></p>
          </div>
          <div class="form-group">
            <label>Your chosen algorithm is:</label>
            <input type="text" name="algorithm" class="form-control" id="algorithm" readonly value="{{ .Algorithm }}">
          </div>
          <hr></hr>
          <div class="form-group">
            <label>Your htpassword is:</label>
            <input type="text" name="result" class="form-control" id="result" readonly value="{{ .Result }}">
          </div>
          <button type="button" class="btn btn-success" onclick="copyToClipboard('result')">Copy to clipboard</button>
          <button type="button" class="btn btn-primary" onclick="location.href='/htpasswd'">New htpasswd</button>
          <p></p>
        </form>
        <hr>
      </div>
    </main>

    <script src="../assets/custom/js/custom.js" ></script>
    <script src="../assets/custom/js/jquery-slim.min.js" ></script>
    <script>window.jQuery || document.write('<script src="../assets/custom/js/jquery-slim.min.js"><\/script>')</script>
    <script src="../assets/bootstrap4/js/bootstrap.bundle.min.js" ></script>
  </body>

</html>
