<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="icon" href="../assets/custom/img/tools.svg">
    <title>SSHKeyGenerator</title>
    <!-- Bootstrap core CSS -->
    <link href="../assets/bootstrap4/css/bootstrap.min.css" rel="stylesheet">
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }
      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    <!-- Custom styles for this template -->
    <link href="../assets/custom/css/jumbotron.css" rel="stylesheet">
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/htpasswd">HTPasswordGenerator</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/passgen">RandomPasswordGenerator</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/ssh">SSHKeyGenerator</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/jsonprettify">JsonPrettifier</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/formatconvert">FormatConverter</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/timeconvert">TimeConverter</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/base64convert">Base64Converter</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/urldecode">URLDecoder</a>
          </li>
        </ul>
      </div>
    </nav>

    <main role="main">
      <div class="jumbotron" style="padding: 1.5rem 1.5rem;">
        <div class="container">
          <h1 class="display-3">SSHKeyGenerator</h1>
          <p>The generated keys expire in 5 minutes; download them as soon as they are generated</p>
          <p>Place the private key under <kbd>~/.ssh/id_rsa</kbd> and make sure you run <kbd>chmod 400 ~/.ssh/id_rsa</kbd></p>
          <p>Place the public key on the target machine in <kbd>~/.ssh/authorized_keys</kbd></p>
        </div>
      </div>
      <div class="container" style="max-width: 1440px;">
        <div class="container" style="max-width: 1440px;">
          <div class="row" >
            <div class="col" style="padding: 20px;">
              <p class="text-success text-center">Private Key:</p>
              <form name="privatekey">
                <div class="form-group">
                  <textarea class="form-control" rows="15" id="privatekey" name="privatekey" readonly>{{ .PrivateKeyContent }}</textarea>
                </div>
              </form>
              <a href="tmp/{{ .PrivateKeyFileName}}" download="id_rsa"><button type="submit" class="btn btn-success">Download</button></a>
              <button type="button" class="btn btn-success" onclick="copyToClipboard('privatekey')">Copy to clipboard</button> 
            </div>
            <div class="col" style="padding: 20px">
              <p class="text-success text-center">Public Key:</p>
              <form name="publickey">
                <div class="form-group">
                  <textarea class="form-control" rows="15" id="publickey" name="publickey" readonly>{{ .PublicKeyContent }}</textarea>
                </div>
              </form>
              <a href="tmp/{{ .PublicKeyFileName}}" download="id_rsa.pub"><button type="submit" class="btn btn-success">Download</button></a>
              <button type="button" class="btn btn-success" onclick="copyToClipboard('publickey')">Copy to clipboard</button> 
            </div>
          </div>
          <button type="button" class="btn btn-primary btn-block" onclick="location.href='/ssh'">Generate a new SSH/rsa key</button>
          <hr>
        </div>
      </div>
    </main>

    <script src="../assets/custom/js/custom.js" ></script>
    <script src="../assets/custom/js/jquery-slim.min.js" ></script>
    <script>window.jQuery || document.write('<script src="../assets/custom/js/jquery-slim.min.js"><\/script>')</script>
    <script src="../assets/bootstrap4/js/bootstrap.bundle.min.js" ></script>
  </body>

</html>
