{{ template "header" . }}
    <main role="main">
      <div class="jumbotron" style="padding: 1.5rem 1.5rem;">
        <div class="container">
          <h1 class="display-3">SSHKeyGenerator</h1>
          <p>The generated keys expire in 5 minutes; download them as soon as they are generated</p>
          <p>Place the private key under <kbd>~/.ssh/id_rsa</kbd> and make sure you run <kbd>chmod 400 ~/.ssh/id_rsa</kbd></p>
          <p>Place the public key on the target machine in <kbd>~/.ssh/authorized_keys</kbd></p>
        </div>
      </div>
      <div class="container" style="max-width: 1440px;">
        <div class="container" style="max-width: 1440px;">
          <div class="row" >
            <div class="col" style="padding: 20px;">
              <p class="text-success text-center">Private Key:</p>
              <form name="privatekey">
                <div class="form-group">
                  <textarea class="form-control" rows="15" id="privatekey" name="privatekey" readonly>{{ .PrivateKeyContent }}</textarea>
                </div>
              </form>
              <a href="tmp/{{ .PrivateKeyFileName}}" download="id_rsa"><button type="submit" class="btn btn-success">Download</button></a>
              <button type="button" class="btn btn-success" onclick="copyToClipboard('privatekey')">Copy to clipboard</button> 
            </div>
            <div class="col" style="padding: 20px">
              <p class="text-success text-center">Public Key:</p>
              <form name="publickey">
                <div class="form-group">
                  <textarea class="form-control" rows="15" id="publickey" name="publickey" readonly>{{ .PublicKeyContent }}</textarea>
                </div>
              </form>
              <a href="tmp/{{ .PublicKeyFileName}}" download="id_rsa.pub"><button type="submit" class="btn btn-success">Download</button></a>
              <button type="button" class="btn btn-success" onclick="copyToClipboard('publickey')">Copy to clipboard</button> 
            </div>
          </div>
          <button type="button" class="btn btn-primary btn-block" onclick="location.href='/ssh'">Generate a new SSH/rsa key</button>
          <hr>
        </div>
      </div>
    </main>
{{ template "footer" . }}
