{{ template "header" . }}
    <main role="main">
      <div class="jumbotron" style="padding: 1.5rem 1.5rem;">
        <div class="container">
          <h1 class="display-3">SSHKeyGenerator</h1>
          <p>Generate RSA SSH keypair</p>
        </div>
      </div>
      <div class="container" >
        <div style="padding-right: 100px;">
          <form name="sshkeygen" style="max-width: 730px;" onsubmit="return handleSshPasswordField()" action="/ssh-process-keygen" method="POST" enctype="multipart/form-data">
            <div class="form-group">
              <label>E-mail address to be used inside the key:</label>
              <input type="email" class="form-control" id="email" name="email" required minlength="5" maxlength="64" placeholder="Your e-mail address">
              <small class="form-text text-muted">Use lowercase characters only.</small>
            </div>
            <div class="form-group">
              <label>Do you want a password for the key ?</label>
              <select class="custom-select" id="usepass" name="usepass" onchange="deactivateField('passwordfield')">
                <option id="yes" value="yes">Yes</option>
                <option id="no" value="no">No</option>
              </select>
              <small class="form-text text-muted">Secure your key with a long password.</small>
            </div>
            <div class="form-group" id="passwordfield">
              <label>Key password:</label>
              <input type="password" class="form-control" id="pass" name="password" placeholder="Insert password" >
              <small class="form-text text-muted">Password must contain between 8 and 64 characters.</small>
              <div class="custom-control custom-checkbox" id="showpassword">
                <input type="checkbox" onclick="revealPassword('pass')" class="custom-control-input" id="showpass">
                <label class="custom-control-label" for="showpass">Show Password</label>
                <p></p>
              </div>
            </div>
            <div class="form-group">
              <label>Select the key bitsize:</label>
              <select style="max-width: 570px;" class="custom-select" id="bitsize" name="bitsize">
                <option value="4096">4096</option>
                <option value="3072">3072</option>
                <option value="1024">1024</option>
              </select>
              <small class="form-text text-muted">Specifies the number of bits in the key to create.</small>
            </div>
            <p></p>
            <p></p>
            <button type="submit" class="btn btn-primary">Generate SSH/rsa keypair</button>
          </form>
        </div>
        <hr>
      </div>
    </main>
{{ template "footer" . }}
