{{ template "header" . }}
    <main role="main">
      <div class="jumbotron" style="padding: 1.5rem 1.5rem;">
        <div class="container">
          <h1 class="display-3">Base64Converter</h1>
        </div>
      </div>
      <div class="container" style="max-width: 1440px;">
        <div class="container" style="max-width: 1440px;">
          <div class="row" >
            <div class="col" style="padding: 0px 5px 20px 0px;">
              <p class="text-success text-center">Input:</p>
              <form name="input" >
                <div class="form-group">
                  <textarea class="form-control" rows="15" id="input" name="input" readonly>{{ .InsertedText }}</textarea>
                </div>
              </form>
              <button type="button" class="btn btn-success" onclick="copyToClipboard('input')">Copy to clipboard</button>
            </div>
            <div class="col" style="padding: 0px 0px 20px 5px;">
              <p class="text-success text-center">Output:</p>
              <form name="output">
                <div class="form-group">
                  <textarea class="form-control" rows="15" id="output" name="output" readonly>{{ .Result }}</textarea>
                </div>
              </form>
              <button type="button" class="btn btn-success" onclick="copyToClipboard('output')">Copy to clipboard</button>
            </div>
          </div>
          <button type="button" class="btn btn-primary btn-block" onclick="location.href='/base64convert'">New Conversion</button>
          <hr>
        </div>
      </div>
    </main>
{{ template "footer" . }}
