{{ template "header" . }}
    <main role="main">
      <div class="jumbotron" style="padding: 1.5rem 1.5rem;">
        <div class="container">
          <h1 class="display-3">Time Converter</h1>
          <p>Convert epoch time entries to human readable format and viceversa</p>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col">
            <form name="epochform" id="epochform" action="/timeconvert-process" method="POST" enctype="multipart/form-data">
              <!-- The 2 textareas are used to pass data between javascript and go -->
              <textarea id="browserTimeZoneFromEpochForm" name="browserTimeZoneFromEpochForm" hidden></textarea>
              <textarea id="epochToHuman" name="epochToHuman" hidden></textarea>
              <label>Current UTC epoch time:</label>
              <small class="form-text text-muted">Digits required: seconds (9 or 10), milliseconds (12 or 13), microseconds(15 or 16)</small>
              <div class="form-row">
                <div class="col-5">
                  <input type="text" required class="form-control text-center" id="epochtime" name="epochtime" onchange="disableEpochTimeFormatSelect()" pattern="[0-9]{9}|[0-9]{10}|[0-9]{12}|[0-9]{13}|[0-9]{15}|[0-9]{16}" title="Insert 9/10, 12/13 or 15/16 digits (seconds, milliseconds or microseconds)" value="{{ .CurrentUTCEpochTimeSeconds }}">
                </div>
                <div class="col-4">
                  <select class="form-control" id="epochTimeFormat" onchange="changeEpochTimeFormat('epochtime','epochTimeFormat')">
                    <option value="{{ .CurrentUTCEpochTimeSeconds }}">Seconds</option>
                    <option value="{{ .CurrentUTCEpochTimeMilli }}">Milliseconds</option>
                    <option value="{{ .CurrentUTCEpochTimeMicro }}">Microseconds</option>
                  </select>
                </div>
              </div>
              <p></p>
              <button type="submit" class="btn btn-primary" onclick="getSelectedTimeConversion('epochform')">Convert to human time format</button>
            </form>
          </div>
          <div class="col">
            <form name="humanform" id="humanform" action="/timeconvert-process" method="POST" enctype="multipart/form-data">
              <!-- The 2 textareas are used to pass data between javascript and go -->
              <textarea id="browserTimeZoneFromHumanForm" name="browserTimeZoneFromHumanForm" hidden></textarea>
              <textarea id="humanToEpoch" name="humanToEpoch" hidden></textarea>
              <label>Current UTC human time:</label>
              <div class="form-row">
                <div class="col-2">
                  <small class="form-text text-muted text-center">Year</small>
                  <input type="text" required class="form-control text-center" id="year" name="year" pattern="[0-9]{4}" title="Insert 4 digits (numeric values only)" value="{{ .CurrentUTCYear }}">
                </div>
                <div class="col-2">
                  <small class="form-text text-muted text-center">Month</small>
                  <input type="text" required class="form-control text-center" id="month" name="month" pattern="[0-9]{2}" title="Insert 2 digits (numeric values only)" value="{{ .CurrentUTCMonth }}">
                </div>
                <div class="col-2">
                  <small class="form-text text-muted text-center">Day</small>
                  <input type="text" required class="form-control text-center" id="day" name="day" pattern="[0-9]{2}" title="Insert 2 digits (numeric values only)" value="{{ .CurrentUTCDay }}">
                </div>
                <div class="col-2">
                  <small class="form-text text-muted text-center">Hour</small>
                  <input type="text" required class="form-control text-center" id="hour" name="hour" pattern="[0-9]{2}" title="Insert 2 digits (numeric values only)" value="{{ .CurrentUTCHour }}">
                </div>
                <div class="col-2">
                  <small class="form-text text-muted text-center">Minute</small>
                  <input type="text" required class="form-control text-center" id="minute" name="minute" pattern="[0-9]{2}" title="Insert 2 digits (numeric values only)" value="{{ .CurrentUTCMinute }}">
                </div>
                <div class="col-2">
                  <small class="form-text text-muted text-center">Second</small>
                  <input type="text" required class="form-control text-center" id="second" name="second" pattern="[0-9]{2}" title="Insert 2 digits (numeric values only)" value="{{ .CurrentUTCSecond }}">
                </div>
              </div>
              <p></p>
              <button type="submit" class="btn btn-primary" onclick="getSelectedTimeConversion('humanform')">Convert to epoch time format</button>
            </form>
          </div>
        </div>
        <hr>
      </div>
    </main>
{{ template "footer" . }}
<!-- Adding to footer the getClientTimeZone() function ONLY in this timeconvert.html template -->
<script>
  window.onload = function() {
      getClientTimeZone();
  };
</script>
